beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
et_xmlfile==2.0.0
idna==3.10
joblib==1.4.2
nltk==3.9.1
numpy==2.2.0
openpyxl==3.1.5
pandas==2.2.3
pyphen==0.17.0
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.11.6
requests==2.32.3
setuptools==75.6.0
six==1.17.0
soupsieve==2.6
textstat==0.7.4
tqdm==4.67.1
tzdata==2024.2
urllib3==2.2.3
